

.div1{
	font-size: 30px;
	font-style: italic;
	text-align: center;
}
.h1{
	font-size: 35px;
	font-weight: 700;
	text-decoration-line: underline;
}

.span1{
	font-size: 25px;
	font-weight: 700;
	text-decoration-line: underline;
}
.span2{
	font-size: 25px;
	font-weight: 700;
	text-decoration-line: underline;
}
.span3{
	font-size: 25px;
	font-weight: 700;
	text-decoration-line: underline;
}
.span4{
	font-size: 25px;
	font-weight: 700;
	text-decoration-line: underline;
}

.span5{
	font-size: 25px;
	font-weight: 700;
	text-decoration-line: underline;
}
.span6{
	font-size: 25px;
	font-weight: 700;
	text-decoration-line: underline;
}
.span7{
	font-size: 25px;
	font-weight: 700;
	text-decoration-line: underline;
}
.span8{
	font-size: 25px;
	font-weight: 700;
	text-decoration-line: underline;
}
.hr1{

}

	

